#log-form {
    margin-top:40px;
    width:40em;
    margin:auto;
    border:1px solid black;
    padding:30px;
}
#login-form{
    padding-top:5em;
    width:60%;
    margin:auto;
}

.nav{
    padding-top:2em;
}

.nav-link{
    cursor:pointer;
}

[class = "badge-danger"]{
    color:red !important;    
}

[class = "badge-success"]{
    color:green !important;
}
small{
    font-size: 0.5em;
}
